/* Reseteo básico de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenedor principal */
.container {
    display: grid;
    grid-template-rows: 1fr 1fr; /* Dos filas iguales */
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    height: 100vh; /* Ocupa toda la altura de la ventana */
    gap: 5px; /* Espacio entre las secciones */
}

/* Estilo para cada sección */
.section {
    padding: 10px;
    overflow: hidden; /* Evita que el contenido desborde */
}

/* Sección superior izquierda */
.top-left {
    grid-row: 1 / 2; /* Primera fila */
    grid-column: 1 / 2; /* Primera columna */
    background-color: #ffffff; /* Color de fondo claro */
    border-right: 0px solid #ddd; /* Línea divisoria */
    border-bottom: 0px solid #ddd; /* Línea divisoria */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Centrado del contenido dentro de top-left */
.top-left .content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Sección superior derecha */
.top-right {
    grid-row: 1 / 2; /* Primera fila */
    grid-column: 2 / 3; /* Segunda columna */
    background-color: #ffffff;
    border-bottom: 0px solid #ddd; /* Línea divisoria */
    border-left: 0px solid #ddd; /* Línea divisoria */
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-right .image {
    max-width: 100%;
    max-height: 100%;
}

/* Sección inferior izquierda */
.bottom-left {
    grid-row: 2 / 3; /* Segunda fila */
    grid-column: 1 / 2; /* Primera columna */
    background-color: #e9ecef; /* Color de fondo diferente */
    border-right: 2px solid #ddd; /* Línea divisoria */
    border-top: 2px solid #ddd; /* Línea divisoria */
}

/* Sección inferior derecha */
.bottom-right {
    grid-row: 2 / 3; /* Segunda fila */
    grid-column: 2 / 3; /* Segunda columna */
    background-color: #f8f9fa;
    border-left: 2px solid #ddd; /* Línea divisoria */
    border-top: 2px solid #ddd; /* Línea divisoria */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilo para el mapa */
#map {
    height: 100%;
    width: 100%;
}

/* Estilo para el formulario */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo para los botones y divs de resultado */
button {
    margin-top: 10px;
}

#resultado, #distance {
    margin-top: 10px;
}

/* Estilo para los inputs */
.input {
    width: 200px;
    padding: 12px;
    border: 2px solid #3498db;
    border-radius: 8px;
    outline: none;
    font-size: 16px; /* Ajustar el tamaño de la fuente */
    transition: border-color 0.3s, box-shadow 0.3s, transform 0.3s;
    background-color: rgba(255, 255, 255, 0);
    color: #000000;
    box-sizing: border-box;
}

.input:focus {
    color: #333;
    border-color: #2980b9;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
    transform: scale(1.02);
}

/* Placeholder Styling */
.input::placeholder {
    color: rgb(222, 18, 18);
    font-style: italic;
}

/* Hover Effect */
.input:hover {
    background-color: rgba(3, 99, 183, 0);
}

/* Estilo para article y el texto */
article {
    background: linear-gradient(
        to right,
        hsl(204, 64%, 44%),
        hsl(185, 100%, 56%)
    );
    -webkit-background-clip: text;
    background-clip: text; /* Propiedad estándar para el clip de fondo */
    color: transparent; /* Hacer el texto transparente */
    text-align: center;
}

article p, article h1 {
    -webkit-text-fill-color: transparent; /* Aplicar solo al texto dentro del artículo */
    color: transparent; /* Hacer el texto transparente */
}


h1 {
    font-size: 2em; /* Ajustar el tamaño de la fuente */
    line-height: 1.1;
}

body {
    background: rgba(255, 255, 255, 0); /* Asegurarse de que el fondo sea blanco */
    font-family: system-ui;
}

h1, p, body {
    margin: 0;
}

p {
    font-family: "Dank Mono", ui-monospace, monospace;
}

html {
    block-size: 100%;
    inline-size: 100%;
}

button,
a.button {
 border: none;
 color: #fff;
 background-image: linear-gradient(30deg, #287fb8, #1fecff);
 border-radius: 20px;
 background-size: 100% auto;
 font-family: inherit;
 font-size: 17px;
 padding: 0.6em 1.5em;
    text-decoration: none;
    margin: 5px auto
}

button:hover,
a.button:hover {
 background-position: right center;
 background-size: 200% auto;
 -webkit-animation: pulse 2s infinite;
 animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
 0% {
  box-shadow: 0 0 0 0 #05bada66;
 }

 70% {
  box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
 }

 100% {
  box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
 }
}
.display {
    /* Agrega aquí tus estilos específicos para la clase 'display' */
    color: #ffffff;
    /* Otros estilos... */
    z-index: 2; /* Ajusta el valor según sea necesario */
}

