/* style.css */

/* Reseteo básico de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenedor principal */
.container {
    display: grid;
    grid-template-rows: 1fr 1fr; /* Dos filas iguales */
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    height: 100vh; /* Ocupa toda la altura de la ventana */
    gap: 5px; /* Espacio entre las secciones */
}

/* Estilo para cada sección */
.section {
    padding: 10px;
    overflow: hidden; /* Evita que el contenido desborde */
}

/* Sección superior izquierda */
.top-left {
    grid-row: 1 / 2; /* Primera fila */
    grid-column: 1 / 2; /* Primera columna */
    background-color: #ffffff; /* Color de fondo claro */
    border-right: 0px solid #ddd; /* Línea divisoria */
    border-bottom: 0px solid #ddd; /* Línea divisoria */
}

/* Sección superior derecha */
.top-right {
    grid-row: 1 / 2; /* Primera fila */
    grid-column: 2 / 3; /* Segunda columna */
    background-color: #ffffff;
    border-bottom: 0px solid #ddd; /* Línea divisoria */
    border-left: 0px solid #ddd; /* Línea divisoria */
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-right .image {
    max-width: 100%;
    max-height: 100%;
}

/* Sección inferior izquierda */
.bottom-left {
    grid-row: 2 / 3; /* Segunda fila */
    grid-column: 1 / 2; /* Primera columna */
    background-color: #e9ecef; /* Color de fondo diferente */
    border-right: 2px solid #ddd; /* Línea divisoria */
    border-top: 2px solid #ddd; /* Línea divisoria */
}

/* Sección inferior derecha */
.bottom-right {
    grid-row: 2 / 3; /* Segunda fila */
    grid-column: 2 / 3; /* Segunda columna */
    background-color: #f8f9fa;
    border-left: 2px solid #ddd; /* Línea divisoria */
    border-top: 2px solid #ddd; /* Línea divisoria */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilo para el mapa */
#map {
    height: 100%;
    width: 100%;
}

/* Estilo para el formulario */
form {
    display: flex;
    flex-direction: column;
}

/* Estilo para los botones y divs de resultado */
button {
    margin-top: 10px;
}

#resultado, #distance {
    margin-top: 10px;
}
